.page-container{
    position: relative;
    min-height: 100vh;
}

.content-wrap{
    padding-bottom: 45px;
}

.heading {
    text-align: center;
    justify-content: center;
}

.bg-black{
    background-color: black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    padding: 5px;
    color: black;
}

footer .fab {
    font-size: 35px;
    color: black;
}

footer .fab:hover {
    color: black;
    text-decoration: none;
}

footer .center-text {
    position: absolute;

    left: 50%;
    bottom: 0;
    transform: translate(-50%);

    text-align: center;
    color: black;
    font-size: 11px;
    padding: 5px;
}

footer .right-text {
    position: absolute;
    right: 0;
    bottom: 0;
    color: black;
    font-size: 11px;
    padding: 5px;
}

footer .right-text a {
    color: black;
}

@media (max-width: 870px){
    footer .right-text {
        display: none;
    }
}